@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {

    font-family: "Kanit", sans-serif;
    /*
    font-family: "Radio Canada Big", sans-serif;
*/
    padding: 0;
    margin: 0;
}

img {
    width: 60px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav {
    display: flex;
    align-items: center;

}

#logo1 {
    width: 150px;
}

#logo {
    width: 390px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c070c;

}

.abas-navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: #0c070c;
    width: 100%;
    height: 100px;
}

.aba {
    font-size: 20px;
    transition: 0.8s all;
}

.aba:hover {
    color: #c700ff;
    transform: scale(1.1)
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.abas {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 20px;
    padding-top: 20px;
}

.abas-jogos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 12, 12);
    width: 260px;
    height: 90px;
    border-radius: 15px;
    transition: 1s all;
}

.abas-jogos:hover {
    transform: scale(1.1);
    background-color: rgb(44, 43, 43);
}

.subdiv {
    font-size: 7px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-jogos {
    color: gray;
}

.navegacao-central {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.navegacao-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    background-image: url(img/backgroundroxo.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    transition: 1.3s all;
    color: white;
    position: relative;
    z-index: 1;
}

.navegacao-principal::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .8;
    z-index: -1;
}

.navegacao-principal:hover {
    background-size: 140%;
    scale: 1.1;
}